* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: $base-color;
    @include styleText($fs-0, $fw-normal, $text-primary);
    font-family: 'Viaoda Libre', 'Roboto', Times, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}