header {
    .header__container {
        background-color: $base-color;
        left: 0;
        max-height: 100%;
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 999;
        transition: all 2s;
        .header__content {
            width: 1440px;
            margin: 0 auto;
            position: relative;
            .header__meta {
                position: absolute;
                right: 30px;
                top: 5px;
                z-index: 2000;
                .header__meta-link {
                    i {
                        margin-right: 0.75rem;
                    }
                    &:last-of-type {
                        margin-left: 40px;
                    }
                }
            }
            .header__menu {
                .navbar {
                    height: 108px;
                    .navbar-brand {
                        display: block;
                        width: 280px;
                        img {
                            position: absolute;
                            &.header__logo {
                                top: 22px;
                                height: 64px;
                                left: 18px;
                                width: 64px;
                            }
                            &.header__brand {
                                top: 54px;
                                height: 28px;
                                left: 146px;
                                width: 112px;
                            }
                        }
                    }
                    .navbar-toggler {
                        position: absolute;
                        z-index: 2000;
                        right: 20px;
                        bottom: 15px;
                        .navbar-toggler-icon {
                            color: $text-primary;
                            font-size: 20px;
                        }
                        &.navbar-toggler[aria-expanded="true"] {
                            .open-text {
                                display: none;
                            }
                            .close-text {
                                display: block;
                            }
                        }
                        &.navbar-toggler[aria-expanded="false"] {
                            .open-text {
                                display: block;
                            }
                            .close-text {
                                display: none;
                            }
                        }
                    }
                    .search-map {
                        position: absolute;
                        z-index: 2000;
                        right: 70px;
                        bottom: 28px;
                        display: none;
                    }
                    .navbar-collapse {
                        .navbar-nav {
                            padding: 0;
                            bottom: 0;
                            position: absolute;
                            right: 18px;
                            width: auto;
                            height: auto;
                            flex-direction: row;
                            opacity: 1;
                            .header__menu-item {
                                margin: 0px 3px 0px 3px;
                                .nav-link {
                                    font-size: 18px;
                                    .search-text {
                                        display: none;
                                    }
                                }
                            }
                        }
                        &.show {
                            .navbar-nav {
                                opacity: 1;
                                height: calc(100vh - 90px);
                                transition: height .3s ease-out, opacity .3s ease-out;
                            }
                        }
                    }
                }
            }
            a {
                color: $text-primary;
                text-decoration: none;
                font-size: $fs-1;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}

@include responsive('extra-large--1') {
    header {
        .header__container {
            .header__content {
                width: 1280px;
            }
        }
    }
}

@include responsive('extra-large-0') {
    header {
        .header__container {
            .header__content {
                width: 100%;
                .header__menu {
                    .navbar {
                        .navbar-toggler {
                            display: block;
                        }
                        .search-map {
                            display: block;
                        }
                        .navbar-collapse {
                            .navbar-nav {
                                opacity: 0;
                                height: 0;
                                background-color: $base-color;
                                width: 100%;
                                top: 100%;
                                left: 0;
                                text-align: center;
                                flex-direction: column;
                                transition: height .3s ease-out, opacity .3s ease-out;
                                .header__menu-item {
                                    margin: 0px 3px 0px 3px;
                                    .nav-link {
                                        font-size: 20px;
                                        font-weight: 600;
                                        .search-text {
                                            display: block;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include responsive('extra-large-0') {
    header {
        .header__container {
            .header__content {
                .header__menu {
                    .navbar {
                        height: 90px;
                        .navbar-brand {
                            width: 205px;
                            img {
                                position: absolute;
                                &.header__logo {
                                    height: 44px;
                                    left: 19px;
                                    width: 44px;
                                }
                                &.header__brand {
                                    top: 36px;
                                    height: 23px;
                                    left: 102px;
                                    width: 91px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}